{% extends 'blog/base.html' %}

{% block main %}

<div class="container-fluid" style="flex: 1;">
    <div class="row">
        <div class="col-xxl-2 bg-dark"></div>
        <div class="col-lg-8 col-xxl-8">
            <div class="content mt-3">
                <h2 class="text-center m-3">{{ post.title }}</h2>
                <div class="text-center m-1">
                    <a href="#">{{ post.author }}</a>&nbsp;
                    {{ post.created_time }}
                </div>
                <div>
                    {{ post.content }}
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xxl-2 mt-5">
            <div class="card bg-secordary text-black p-2">
                <p><strong>目录</strong></p>
                <ul>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-primary text-white">
        评论区
    </div>
</div>

{% endblock main %}