{% extends 'blog/base.html' %}

{% block main %}

<div class="container-fluid" style="flex: 1;background-color: #f8f9fa;">
    <div class="row">
      <!-- 应付宽屏，左边留白 -->
      <div class="col-xxl-2"></div>
        <main class="col-md-9 col-xxl-7 p-5">
            {% for post in post_list %}

                <div class="post-box border-bottom mt-3">
                    <h2 class="text-center m-3"><a href="/blog/{{ post.title }}">{{ post.title }}</a></h2>
                    <div class="text-center m-1">
                        <a href="#">{{ post.author }}</a>&nbsp;
                        <a href="#">{{ post.category }}</a>&nbsp;
                        {{ post.comment_set.count }}评论&nbsp;
                        {{ post.views }}阅读
                    </div>
                    <div>
                        <p>
                        {{ post.excerpt }}
                        </p>
                    </div>
                </div>

            {% empty %}
                <h2>何もありません。</h2>
            {% endfor %}
            
            <div class="pagination-container" style="margin-top: auto; padding-top: 30px;">
                <nav class="container-fluid mt-5">
                    <ul class="pagination justify-content-center">
                        {% if post_list.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ post_list.previous_page_number }}" tabindex="-1"> <<< </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"> <<< </a>
                            </li>
                        {% endif %}
    
                      {% for num in post_list.paginator.page_range %}
                            {% if post_list.number == num %}
                                <li class="page-item active">
                                    <a class="page-link" href="#" aria-current="true">{{ num }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{num}}">{{ num }}</a>
                                </li>
                            {% endif %}
                      {% endfor %}
    
                      {% if post_list.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ post_list.next_page_number }}">>>></a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">>>></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </main>
        <aside class="col-md-3 col-xxl-3 p-3">
            <div class="card-box" style="overflow-wrap: break-word;word-wrap: break-word;">
                <h3>最新文章</h3>
                {% for post in latests %}

                    <ul>
                        <li><a href="/blog/{{post.title}}">{{post.title}}</a></li>
                    </ul>

                {% empty %}

                    <h2>何もありません。</h2>

                {% endfor %}
            </div>
            <div class="card-box">
                <h3>友链</h3>
                <ul>
                    <li><a href="#">知乎</a></li>
                    <li><a href="#">那个CSDN</a></li>
                    <li><a href="#">博客园</a></li>
                </ul>
            </div>
        </aside>
    </div>
</div>

{% endblock main %}